/* HEADER */

.header{
position:sticky;
top:0;
background:black;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

/* LOGO */

  .logo img{
height:1.2em;
width:auto;
}


/* NAVIGATION */

.nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:600;
position:relative;
}

/* Hover Animation */

.nav a::after{
content:"";
position:absolute;
width:0%;
height:2px;
background:#ffd600;
left:0;
bottom:-5px;
transition:0.3s;
}

.nav a:hover::after{
width:100%;
}
.blog-actions{
margin-top:30px;
}

.blog-actions button{
padding:10px 18px;
margin-right:10px;
border:none;
background:#ffd600;
font-weight:600;
border-radius:5px;
cursor:pointer;
}
/* FOOTER */

footer{
background:black;
color:white;
text-align:center;
padding:40px;
margin-top:50px;
}

.footer-menu a{
color:white;
margin:0 10px;
text-decoration:none;
}
.project{
background:white;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
padding:15px;
transition:0.3s;
}

.project:hover{
transform:translateY(-6px);
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* Portfolio Content Readability */


.content-section{
max-width:800px;      /* content width limit */
margin:auto;          /* center alignment */
padding:60px 40px;    /* left-right margin space */
line-height:1.8;
font-size:17px;
}

.content-section p{
margin-bottom:18px;
}

.content-section h2{
margin-bottom:20px;
font-size:28px;
}
.portfolio-info{
max-width:900px;
margin:auto;
padding:40px 20px;
line-height:1.8;
font-size:16px;
color:#333;
}

.portfolio-info h2{
text-align:center;
margin-bottom:20px;
font-size:28px;
}

.portfolio-info p{
margin-bottom:18px;
text-align:justify;
}
